<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Games4Science.PluginUnityMusicPlayer">

    <application>
        <activity
            android:name=".AudioPickerProxyActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:noHistory="false" />
    </application>

</manifest>